body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 { 
    margin: 2rem 0 0.5rem 0 ;
}

.full-width {
    width: 100% !important;
} 

.content {
    max-width: 1000px;
    padding  : 0 1.5rem;
    margin   : 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.list > * {
  width: 100%;
  margin-bottom: 0.35rem;
} 

.list-item > h3 {
  margin: 0;  
}

sl-input[invalid]:not([disabled]):not([init])::part(label),
.custom-input[invalid]:not([disabled]):not([init])::part(help-text) {
  color: var(--sl-color-danger-600);
}

sl-input[invalid]:not([disabled]):not([init])::part(base) {
  border-color: var(--sl-color-danger-500);
}

sl-input[invalid]:not([init]):focus-within::part(base) {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-500);
}

sl-textarea[invalid]:not([disabled]):not([init])::part(label),
.custom-input[invalid]:not([disabled]):not([init])::part(help-text) {
  color: var(--sl-color-danger-600);
}

sl-textarea[invalid]:not([disabled]):not([init])::part(base) {
  border-color: var(--sl-color-danger-500);
}

sl-textarea[invalid]:not([init]):focus-within::part(base) {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-500);
}

sl-select[invalid]:not([disabled]):not([init])::part(label),
.custom-input[invalid]:not([disabled]):not([init])::part(help-text) {
  color: var(--sl-color-danger-600);
}

sl-select[invalid]:not([disabled]):not([init])::part(control) {
  border-color: var(--sl-color-danger-500);
}

sl-select[invalid]:not([init]):focus-within::part(control) {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-500);
}

sl-button.no-padding::part(label) {
  padding-left: 0;
  padding-right: 0;
}